@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*,
*::before,
*::after {
  box-sizing: border-box;
}


.cars-img {
  height: 100%;
  max-width: 100%;
  vertical-align: middle;
  flex-grow: 1;
}

.btn {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
  padding: 0.8rem;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 50%;
  cursor: pointer;
  background-color: #931515;
  border-radius: 10px;
}

.btn:hover {
  transition: 0.6s;
  background-color: rgba(255, 255, 255, 0.12);
}

.heading {
  font-family: "Audiowide", sans-serif;
  font-size: 70px;
  z-index: 1;
  position: relative;
  color: white;
  text-align: center;
  transform: translateY(-350px);
  margin-left: 120px;
  margin-top: 0rem; /* Add some spacing above the heading */
  margin-bottom: 2rem; /* Add some spacing below the heading */
}

.cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-top: -350px; /* Remove the negative margin-top */
  margin-left: 320px; /* Remove the left margin */
  padding: 0 1rem; /* This line is added */
  width: 70%;
}

.cards_item {
  display: flex;
  margin: 10px;
  padding: 1rem 0; /* This line is modified */
  width: 100%;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 30.3333%;
  }
}

@media screen and (max-width:768px) {
  .cards{
    margin-left: 80px;
  }

  .heading{
    margin-left: 32px;
    font-size: 52px;
  }
}

.card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width : 100%;
  
}

.card_content {
  padding: 1rem;
  margin-top: auto;
  background: linear-gradient(44deg, #a80f0f, #990d0d, #d22c2c, #940d0d, #eb0505, #9d1919, #740f0f, #741b1b);
  background-size: 480% 480%;
  animation: gradient-animation 24s ease infinite;
  display: flex;
  flex-direction: column;
  
}

.card_content_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stars {
  color: gold;
  font-size: 15px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.FourDoorCars{
  margin-top: 600px; /* Remove the negative margin-top */
}

.motorcycles{
  margin-top: 600px; /* Remove the negative margin-top */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.card-match .card {
  animation: fadeInAnimation 0.3s ease-in-out;
}

.card-match.hide .card {
  animation: fadeOutAnimation 0.9s ease-in-out;
}

